html {
    background-color: #41486e;
}

body {
    background-color: #b2c3dc;
    width: 960px;
    height: 710px;
    margin: 0 auto;
    padding: 13px;

    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

section {
    border: solid 1px #7e85af;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 10px;
}

section h1 {
    margin: 10px 10px;
    font-size: 25px;
    font-family: "Times New Roman";
}

label {
    width: 130px;
    float: left;
    margin-top: 3px;
    margin-left: 10px;
    font-family: "Times New Roman";
}

input {
    background-color: #eaf5ea;
    width: 200px;
    height: 20px;
    border: solid 1px #7e85af;
    border-radius: 4px;
}

select {
    background-color: #eaf5ea;
    padding: 3.5px;
    width: 200px;
    border: solid 1px #7e85af;
    border-radius: 4px;
}

.control-group {
    margin-bottom: 10px;
}

button {
    padding: 4px;
    border: solid 1px hsl(231, 23%, 59%);
    border-radius: 4px;
    background-color: #acacc2;
    margin: 0px 10px 10px 10px;
}

img {
    margin-top: 10px;
    width: 100%;
}

textarea {
    background-color: #eaf5ea;
    width: 555px;
    height: 700px;
    margin-left: 15px;
}

aside {
    overflow: hidden;
}